{% extends "layout.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block main %}
    <div class="container page">
        <div class="row">
            {% include 'components/form.html' with form=form form_class="register-form" button_text="Register" %}
        </div>

        <div class="row">
            <p>Already have an account?   <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
{% endblock %}
