form {
    width: 100%;
    margin-bottom: 40px;
}

label {
    margin: 0;
    text-transform: uppercase;
}

.form-field {
    margin-bottom: 20px;
}

input {
    padding: 5px;
    border: 0.5px solid black;
    box-shadow: none;
    background-color: white;
}

button[type="submit"] {
    float: right;
    border-radius: 0;
    outline: none;
}


.required {
}

.error-text {
    margin-top: 4px;
    color: red;
}
