{% extends "layout.html" %}

{% block main %}
    <div class="container-fluid mt-5">
        <div class="row p-4">
            <div class="col">
                <h2>About Escalo</h2>
                <p>We want to help your scale-up, well.. scale up.</p>
                <p>
                    Our unique platform allows
                    visualisation, analytics and, most importantly, frameworks to help hire the
                    right people for the right roles. Deliver results and grow fast.
                </p>
            </div>
        </div>

        <div class="row mt-5 p-2 pb-5 pt-5 dark">
            <div class="col-12 text-center">
                <h2>How we do it</h2>
            </div>
            <div class="col m-2 p-2 light-box">
                <p><strong>Organisational Design</strong></p>
                <p>Instantly visualise your whole organisation and make plans for growth</p>
            </div>
            <div class="col m-2 p-2 light-box">
                <p><strong>Reward</strong></p>
                <p>Structure your employee benefits for sustainable growth</p>
            </div>
            <div class="col m-2 p-2 light-box">
                <p><strong>Recruitment</strong></p>
                <p>Hire for the right role the first time</p>
            </div>
        </div>

        <div class="row mt-5 p-4">
            <div class="col">
                <h2>The Pain-point(s)</h2>
                <ul>
                    <li>High growth scaling results in regular changes to an organisation’s structures resulting in redundancies and redeployment of roles – it’s costly</li>
                    <li>Retention due to lack of development and talent succession planning</li>
                    <li>Maintaining structures to ensure scalable and fair pay, clear communication lines, and the deployment of skills.</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5 p-4">
            <div class="col">
                <h2>Benefits</h2>
                <ul>
                    <li>A data-orientated and structured approach to scaling which helps mitigate poor scaling scaling decisions as well as saving time (£)</li>
                    <li>Helping manage cash flow due to understanding operating costs (now/future)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
