{% extends "layout.html" %}

{% block main %}
    <div class="container-fluid mt-5">
        <div class="row p-4">
            <div class="col">
                <h2>Contact Us</h2>
                <p>
                    We are currently developing our product. Please get in contact if you're interested in
                    what we are doing.
                </p>

                <p>Note: if you're keen we'd love to get you involved in our beta testing!</p>

                <a class="link" href="mailto: escalotech@gmail.com">escalotech@gmail.com</p>
            </div>
        </div>
    </div>
{% endblock %}
